& {
    font-family: proxima-nova, open-sans, sans-serif;
}

&.page {
    margin-right: auto;
    margin-left: auto;
    padding: 0px;

    @media (min-width: $page_width_small) {
        @include vr($width: 36);
    }
    @media (min-width: $page_width_standard) {
        @include vr($width: 48);
    }
    @media (min-width: $page_width_wide) {
        @include vr($width: 60);
    }
}

/* prettier-ignore */
h1, h2, h3, h4, h5, h6 {
    font-family: proxima-nova;
    text-transform: capitalize;
}

h1 {
    @include vr($font-size: 5, $margin: 0);
}

h2 {
    color: var(--secondary_theme);
    @include vr($font-size: 4, $margin: 0 0 1 0, $offset-bottom: 1px);
    font-family: raleway, sans-serif;
    font-variant-caps: petite-caps;
    font-weight: 600;
    border-bottom-color: var(--secondary_theme);
    width: 100%;
}

h3 {
    @include vr($font-size: 3, $margin: 0);
    font-family: open-sans;
    font-weight: 600;
    color: var(--secondary_theme_darker);
}

h4 {
    @include vr($font-size: 2, $margin: 0);
    font-weight: 500;
    color: var(--secondary_theme_darker);
}

h5 {
    @include vr($font-size: 2);
    font-weight: 600;
    text-transform: none;
}

// Links
a {
    color: var(--link_active);
    font-weight: 500;

    &:hover {
        color: var(--link_hover);
    }

    &.text-danger {
        color: var(--link_new);
    }
}

// Bold
b {
    font-weight: 600;
}

// Italic
em {
    font-style: italic;
}

// Underline
u {
    text-decoration: underline;
}

// Subscript, Superscript
sub,
sup {
    @include vr($font-size: 0, $margin: 0);
    position: relative;
    line-height: 0;
    vertical-align: baseline;
}
sub {
    bottom: -0.25em;
}
sup {
    top: -0.5em;
}

// Small text
small {
    @include vr($font-size: 1, $margin: 0);
}

// Paragraph
p,
#profile {
    font-family: proxima-nova, open-sans, sans-serif;
    color: var(--base_text_colour);
}

p {
    @include vr($font-size: 2, $padding: 0 0 1 0, $margin: 0);
}

#profile {
    @include vr($font-size: 2, $padding: 0, $margin: 0);
}

// Quotes
blockquote {
    @include vr($font-size: 2, $margin: 0.5 0 0.5 0, $padding: 0.5);

    background: rgba(245, 245, 245, 1);
    border-left: 10px var(--secondary_theme) solid;
    font-family: architects-daughter;

    & + blockquote {
        @include vr($margin-top: 1);
    }
}

hr {
    border-color: var(--secondary_theme);
}

.line-spacer.d-block {
    display: none;
}

input:focus, textarea:focus, select:focus{
    outline: none;
}
