/* COLOURS */
* {
    --primary_theme: #413a51;
    --primary_theme_darker: #231e2e;
    --secondary_theme: #2b4162;
    --secondary_theme_darker: #273045;
    --base_text_colour: #393939fc;
    --link_active: #2b4162;
    --link_hover: #769bc6;
    --link_new: #a73235;
}
