/* DIMENSIONS */
* {
    --banner_height: 250px;
    --page_top_margin: 50px;
}

// Page Widths
$page_width_wide: 1200px;
$page_width_standard: 992px;
$page_width_small: 768px;
$page_width_mobile: 767px;