@import "colors";
@import "dimensions";

// Reset defaults for vertical-rhythm-reset
$_vr-is-root-reset: null;
$vr-modular-scale: null;
$vr-helpers: null;
$_vr-rendered: null;

// Configuration for vertical-rhythm-reset
$vr-box-sizing: border-box;
$vr-grid-color: rgba(70, 134, 206, 0.25);
$vr-font-size: 1rem;
$vr-line-height: 2;
$vr-breakpoints: (
    $page_width_wide: (
        modular-scale: major-third,
        line-height: 2.5,
    )
);
@import "modules/vertical-rhythm-reset";

$DEBUG_MODE: false;
@import "debug-grid";

.user-css,
.user-css-extended,
.user-css-map-sidebar {
    @include vr-reset();
    @import "base-styling";
}

.user-css {
    // Imports from other files that are wrapped by .user-css
    @import "user-css/cover";
    @import "user-css/greatgm";
    @import "user-css/menu";
    @import "user-css/homepage";
    @import "user-css/sidebar";

    // Per Page
    @import "user-css/template-person";
    @import "user-css/page-category";
    @import "user-css/article";
    @import "user-css/campaign";
    @import "user-css/character-relationship-panel";
    // @import "user-css/panel";
    @import "user-css/custom/theme-tags";
}

.user-css-extended {
    @import "user-css/metadata";
    background: unset;

    .extendedbody-comments {
        display: none;
    }

    .dl-horizontal {
        text-transform: capitalize;
    }

    .tab-content {
        color: var(--base_text_colour);
    }
}

.user-css,
.user-css-extended {
    @import "user-css/nav-tabs";
}

.user-css-map-sidebar {
    @import "user-css-map-sidebar/map";
}

/* BACKGROUND */
.presentation-interface {
    background-image: url(https://www.worldanvil.com/uploads/images/8c6130ffa1dd3c7f7b343e26018bad07.png);
    background-repeat: repeat;
    background-size: auto;
}

@import "fonts";
