$_normalize-exclude: null;
@import "colors";
@import "dimensions";

.user-css,
.user-css-extended,
.user-css-map-sidebar {
    // @import "normalize/import-now";
    // @import "reset-css";
    @import "base-styling";
}

.user-css {
    // Imports from other files that are wrapped by .user-css
    @import "user-css/cover";
    @import "user-css/greatgm";
    @import "user-css/menu";
    @import "user-css/homepage";
    @import "user-css/sidebar";

    // Per Page
    @import "user-css/template-person";
    @import "user-css/page-category";
    @import "user-css/article";
    @import "user-css/campaign";
    @import "user-css/character-relationship-panel";
    @import "user-css/panel";
    @import "user-css/custom/theme-tags";
}

.user-css-extended {
    margin-bottom: calc(5rem + var(--page_top_margin));
    margin-top: 35px;

    .dl-horizontal {
        text-transform: capitalize;
    }

    .tab-content {
        color: var(--base_text_colour);
    }
}

.user-css,
.user-css-extended {
    @import "user-css/nav-tabs";

    #peripheral-content:before {
        border-top: 7px solid var(--primary_theme);
        width: 100%;
        height: 1px;
        margin-right: -10px;
        margin-left: -10px;
        position: absolute;
        z-index: 10;
    }
}

.user-css-map-sidebar {
    @import "user-css-map-sidebar/map";
}

.user-css.page,
.user-css-extended .page {
    background: white;
    top: var(--page_top_margin);
    margin-bottom: calc(3rem + var(--page_top_margin));
    font-family: proxima-nova;
}

/* BACKGROUND */
.presentation-interface {
    background-image: url(https://www.worldanvil.com/uploads/images/8c6130ffa1dd3c7f7b343e26018bad07.png);
    background-repeat: repeat;
    background-size: auto;
}

@import "fonts";
