@import "../modules/vertical-rhythm-reset";

@mixin sidebar {
    .panel.panel-default {
        @include vr($width: 13, $margin: 1 0);
        @media (max-width: $page_width_standard) {
            @include vr($width: 100%);
        }
    }
}

@mixin portrait {
    margin-bottom: unset !important;
    @include vr($height: 13, $width: 13);
    @media (max-width: $page_width_standard) {
        @include vr($height: 16, $width: 16);
        margin: 0 auto;
    }
}

.article-content {
    margin: 0;

    .article-title {
        @include vr($height: 12);
        border-bottom: 7px solid var(--primary_theme);
        z-index: 10;
        pointer-events: none;
        padding: 0 $base-grid-unit;
        width: 100%;
        color: white;
        text-shadow: 0 0 3px #000000;

        h1 {
            @include vr($font-size: 9, $padding: 2 0.5 0 0.5, $margin: 0);
            font-family: bebas-neue, bebas-neue-regular;
            font-weight: 500;
            color: white;
            text-transform: none;
        }

        h4 {
            @include vr($font-size: 3, $padding: 0 0.5 0 0.5);
            color: white;
            text-transform: none;
            opacity: 0.9;
            font-family: special-elite;
        }

        .article-title-author {
            @include vr($font-size: 1, $padding: 0 0.5 0 0.5);
            position: absolute;
            opacity: 0.8;
            font-weight: 600;
            font-family: proxima-nova;
            // Override important value from base CSS
            margin-bottom: 0px !important;
            bottom: calc(2rem - 7px);
        }
    }
    .article-title + div {
        @include vr($padding: 0);

        .row {
            padding: 0;
            margin: 0;
            display: flex;
            flex-wrap: wrap;
        }

        .article-content-left,
        .article-content-right {
            @include vr($padding: 1, $margin: 0);
        }

        .article-content-left {
            @include vr($padding-left: 2);
            @media (max-width: $page_width_standard) {
                @include vr($padding: 1);
            }

            p:first-child {
                padding: 0px;
            }
        }

        .article-content-right {
            @include sidebar();
            @include vr($padding-right: 2);
            @media (max-width: $page_width_standard) {
                @include vr($width: 100%, $padding: 1);
            }
        }

        .character-article-portrait {
            @include portrait();
        }
    }
}
