// HOMEPAGE
&.page-world-homepage {
    .row.heading {
        margin: 0;

        .text-center {
            padding: 0;
            margin: 0;

            // SMALL
            @media (min-width: $page_width_small) {
                @include vr($width: 36);
            }

            // STANDARD
            @media (min-width: $page_width_standard) {
                @include vr($width: 48);
            }
        }
    }
    // Title
    .world-title {
        color: transparent;
        background-image: url(https://www.worldanvil.com/uploads/images/f14960c19ce1a1d51fa3f6b21bda6863.png);
        height: 250px;
        background-repeat: no-repeat;
        background-position-x: center;
        background-position-y: 0px;
        position: absolute;
        left: 0;
        margin: 0px;

        // MOBILE
        @media (max-width: $page_width_mobile) {
            width: 100vw;
            background-size: 750px;
        }

        // SMALL
        @media (min-width: $page_width_small) {
                @include vr($width: 36);
                background-size: 1000px;
        }

        // STANDARD
        @media (min-width: $page_width_standard) {
                @include vr($width: 48);
                background-size: 1000px;
        }

        // WIDE
        @media (min-width: $page_width_wide) {
                background-size: 1200px;
        }
    }

    .world-currentDate {
        height: 250px;
        margin: 0px;
    }

    // Subheading
    .subheading {
        @include vr($margin: 1);
        // SMALL
        @media (min-width: $page_width_small) {
            @include vr($padding: 0);
        }

        // STANDARD
        @media (min-width: $page_width_standard) {
            @include vr($padding: 0 7);
        }

        // WIDE
        @media (min-width: $page_width_wide) {
            @include vr($padding: 0 7);
        }

        blockquote {
            @include vr($padding: 1, $margin: 1 0);
        }
    }

    // Hide Followers Counter
    .followers-counter {
        display: none;
    }

    .world-currentDate {
        @include vr($height: 13, $padding: 0 0 1 0);
    }

    // Authors
    .world-authors {
        @include vr($height: 12, $padding: 0 0 1 0);
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: flex-end;

        p {
            color: white;
            font-family: proxima-nova;
            font-style: normal;
            text-shadow: 0 0 3px #000000;
            opacity: 0.8;
            font-variant-caps: all-small-caps;
        }

        .world-owners,
        .world-editors,
        .world-writers {
            .author-item {
                @include vr($width: 5);
                text-transform: uppercase;
                font-weight: 700;

                a {
                    @include vr($font-size: 3);
                    color: white;
                    font-weight: 300;
                    text-transform: capitalize;
                    font-style: normal;
                    -webkit-text-stroke: 0.5px;
                    text-shadow: 0 0 3px #000000;
                }
            }
        }

        .world-writers {
            @include vr($padding-top: 1);
        }
    }
}
