@import "../modules/vertical-rhythm-reset";

// MENUS
#header {
    margin: 0px;
}

.backtoworld a {
    /* Home Button */
    @include vr($height: 2, $width: 2, $line-height: 1, $font-size: 1);
    background: var(--primary_theme);
    font-family: proxima-nova, roboto, sans-serif;
    position: absolute;
    font-weight: 600;
    color: #fff;
    z-index: 2;
    visibility: hidden;
    top: 0;
    left: 0;
    padding: 0;

    @media (max-width: $page_width_mobile) {
        left: 1rem;
    }

    &:before {
        @include vr(
            $height: 2,
            $width: 2,
            $line-height: 1,
            $padding: 0.5,
            $font-size: 1
        );
        content: url(https://raw.githubusercontent.com/Eldaeros/world-anvil-themes/master/assets/Home-Content.png);
        position: absolute;
        font-weight: 600;
        color: #fff;
        z-index: 2;
        visibility: visible;
        background: var(--primary_theme);
        text-align: center;
        left: 10px;
        background-image: url(https://raw.githubusercontent.com/Eldaeros/world-anvil-themes/master/assets/Home_white.svg);
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
        -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.5);
        -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.5);
        box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.5);
    }

    &:hover:before {
        background-color: var(--primary_theme_darker);
    }
}

// Menu Controls
.menu-control {
    height: 40px;
    width: 40px;
    background: none;
    background-color: var(--primary_theme);
    color: white;
    padding: 0;
    padding-top: 10px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.5);

    &:hover {
        background-color: var(--primary_theme_darker);
    }

    i.fa-bars {
        line-height: 20px;
    }

    &:hover,
    &:focus {
        color: white;
    }
}

// World Menu
.worldmenu-inner {
    background: rgba(0, 0, 0, 0.45);
}

.search-form {
    @include vr($height: 2);
    margin: 0px;
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;

    .typeahead-input {
        background-color: rgba(255, 255, 255, 0.5);

        &:focus {
            background-color: rgba(255, 255, 255, 0.9);
        }
    }

    @media (max-width: $page_width_mobile) {
        right: 1rem;
    }

    .form-group {
        @include vr($height: 2, $line-height: 1, $font-size: 1, $padding: 0.5);

        position: absolute;
        right: 0;
    }

    #search-button {
        visibility: hidden;
        padding: 0;
        @include vr(
            $height: 1,
            $width: 1,
            $margin-top: 0.5,
            $margin-right: 1
        );

        &:before {
            @include vr(
                $height: 1,
                $width: 1,
                $line-height: 1,
                $padding: 0.5,
                $font-size: 1
            );
            content: url(https://raw.githubusercontent.com/Eldaeros/world-anvil-themes/master/assets/Home-Content.png);
            position: absolute;
            z-index: 2;
            visibility: visible;
            background-image: url(https://raw.githubusercontent.com/Eldaeros/world-anvil-themes/master/assets/search.svg);
            background-size: 60%;
            background-repeat: no-repeat;
            background-position: center;
        }
    }
}
