/* Category Page */
&.page-category {
    .article-list {
        list-style: none;
        padding-left: 0;
        columns: 2;
        list-style-type: disc;
        list-style-position: inside;

        li {
            position: relative;
            opacity: 1;
            display: inline;
            clear: none !important;
            padding: 5px;

            @media (max-width: $page_width_mobile) {
                & {
                    width: 100%;
                }
            }
        }
    }

    .article-panel {
        padding: 10px;
        background-color: #f0f0f0;
        border: 1px #d4d2c5 solid;
        margin-bottom: 0px;
    }

    .nav-strip {
        padding: 0;
        height: 40px;
        background-color: transparent;
        box-shadow: none;

        a {
            background: var(--primary_theme);
            font-family: proxima-nova, roboto, sans-serif;
            position: absolute;
            font-size: 0.8em;
            font-weight: 600;
            color: #fff;
            z-index: 2;
            height: 40px;
            line-height: 20px;
            visibility: hidden;
            top: 0;
            left: 10px;
            padding: 0;
            width: 40px;

            &:before {
                content: url(https://cdn.rawgit.com/Eldaeros/city_of_mist/84b63baf/World%20Anvil/Home-Content.png);
                position: absolute;
                padding: 10px 10px;
                font-size: 0.8em;
                font-weight: 600;
                color: #fff;
                z-index: 2;
                height: 40px;
                line-height: 20px;
                visibility: visible;
                background: var(--primary_theme);
                font-size: 1.2em;
                width: 40px;
                text-align: center;
                left: 10px;
                background-image: url(https://cdn.rawgit.com/Eldaeros/city_of_mist/84b63baf/World%20Anvil/Home_white.svg);
                background-size: 40px;
                background-repeat: no-repeat;
                background-position: center;
                border-bottom-left-radius: 3px;
                border-bottom-right-radius: 3px;
                -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.5);
                -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.5);
                box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.5);
            }

            &:hover:before {
                background-color: var(--primary_theme_darker);
            }
        }
    }

    #header {
        position: relative;
        top: -40px;

        div {
            width: 100%;
            margin: 0px;
            padding: 0px 15px;
            min-height: var(--banner_height);
        }

        h1 {
            font-family: bebas-neue, bebas-neue-regular;
            font-size: 50px;
            font-weight: 500;
            color: white;
            text-shadow: 0 0 3px #000000;
            text-transform: none;
            margin: 0px;
            margin-top: 45px;
            text-align: left;
        }

        strong {
            font-weight: 700;
            color: white;
            position: absolute;
            left: 15px;
            margin-bottom: 10px !important;
            opacity: 0.8;
            font-size: 1.25rem;
            font-weight: 600;
            font-family: proxima-nova;
        }

        a {
            color: white;
        }

        p {
            display: block;
            padding-top: 160px;
            margin-bottom: -30px;
            text-align: left;
        }
    }

    :last-child .col-md-4 {
        width: 100%;
    }
}
